<%- include("./partials/header.ejs") %>

<form action="/" method="POST">
    <input type="text" name="postTitle" id="postTitle" placeholder="Post Title">
    <textarea name="postContent" id="postContent" cols="30" rows="10" placeholder="Post content"></textarea>
    <button type="submit">Create Post</button>
</form>

<%- include("./partials/footer.ejs") %>