<%- include("./partials/header.ejs") %>

<form action="/" method="POST">
    <input type="text" placeholder="Post Title">
    <textarea name="" id="" cols="30" rows="10" placeholder="Post content"></textarea>
    <button type="submit">Create Post</button>
</form>

<%- include("./partials/footer.ejs") %>