<%- include("./partials/header.ejs") %>
    <h1>Blog Project</h1>
    <h2>Capstone Project | Using Express and Node</h2>
    <hr>

    <a href="/create-new">Create a post</a>

<%- include("./partials/footer.ejs") %>
