h1, h2 {
    text-align: center;
}

nav {
    position: sticky;
    top: 10px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
} */

/* TODO style links as buttons */

.blogPosts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* height: calc(4* (post height + padding + margin) + (4 - 1) * margin-bottom); */
    overflow-y: auto;
    width: 90vw;
}

/* TODO style each blog */
.post {
    margin: 0 auto;
    width: 50%;
    border: 0.5px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.postActions {
    height: 3em;
    /* background: peru; */
    line-height: 3em;
}

.edit:visited {
    color: black;
}

.delete {
    padding: 5px;
    background: none;
    border: none;
}

.delete:hover {
    cursor: pointer;
}

body {
    min-height: 100vh;
}

/* Post creation form */
.form-container {
    display: flex;
    border: 1px solid darkolivegreen;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    padding: 0;
}
.createPost button {
    width: 20vw;
}
.plus-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    /* width: 40px; */
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.plus-button:hover {
    background-color: #0056b3;
}

